npm-debug.log*
node_modules
docs/*
.DS_Store
.*.sw[op]
*.mp4
*.mov
bundles/
bundle.css
bundle.js
bundle.js.map
build.css
build.js
build.html
vendor/
report/
results.json
.idea/*
.tern-project
resultlog.txt
.npmrc
README.html
coverage
browserstack.json
browserstack-run.pid
.now.json
temp.yml
_package.json
cache
