@import ./bootstrap.min.css;

.Query {
  position: relative;
}

.Query:hover .popover {
  margin-top: -20px;
  left: -100%;
  width: 100%;
  display: block;
}

.stats {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
}
