@import ./bootstrap.min.css;

.query {
  position: relative;
}

.query:hover .popover {
  margin-top: -20px;
  left: -100%;
  width: 100%;
  display: block;
}

.stats {
  position: fixed;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: rgb(38, 50, 56);
  color: rgb(128, 203, 196);
  font-size: 10px;
  padding: 5px;
  width: 120px;
}
