:root {
  --font-family: 'Droid Sans Mono', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --main-background: rgb(227, 227, 227); /* #E3E3E3 */
  --border-color: #DDDDDD; /* #DDDDDD */
  --near-white: rgb(245, 245, 245);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 300;
	background: var(--main-background);
}

.title {
	font-size: 10px;
	color: var(--near-white);
}

.chat-application {
	position: absolute;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
	width: 100%;
  min-height: 100% !important;
  height: auto;
  left: 0;
  top: 0;
	background: var(--main-background);
}

.main-window {
	flex: 1 auto;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
	height: auto;
	width: 100%;
}

.channel-window {
	flex: 0 1 auto;
  display: flex;
  flex-flow: column;
  min-width: 200px;
  width: auto;
  padding: 10px;
	background: #078279;
	border-right: 1px solid var(--border-color);
}

.messages-window {
  flex: 1 auto;
  display: flex;
  flex-flow: column;
	background: white;
}

.interaction {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
	width: 100%;
	height: auto;
	padding: 10px;
}

.new-message {
	flex: 1 auto;
	height: auto;
	padding: 6px 10px;
	line-height: 20px;
	outline: none;
	border: none;
  margin: 0;
	background: var(--near-white);
	border: 1px solid transparent;
}

@media (max-width: 600px) {

}