:root {
  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
  --main-background: rgb(245, 245, 245);
  --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* "Droid Sans Mono" */
  --default-font-color: rgb(77, 77, 77); /* #4d4d4d */
  --light-font-color: rgb(230, 230, 230); /* #e6e6e6 */

  --placeholder: {
    font-style: italic;
    font-weight: 300;
    color: var(--light-font-color);
  };

  --input: {
    position: relative;
    width: 100%;
    font-size: 24px;
    line-height: 1.4em;
    font-weight: 300;
    font-family: inherit;
    font-weight: inherit;
    color: var(--default-font-color);
    padding: 16px 16px 16px 60px;
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
    outline: none;
  };
}

* {
  box-sizing: border-box;
  outline: none;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  background: var(--main-background);
  font-family: var(--font-family);
  color: var(--default-font-color);
  font-size: 14px;
  line-height: 1.4em;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  -webkit-appearance: none;
  appearance: none;
}

.title {
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

.todoApp {
  background: var(--white);
  margin: 0;
  position: relative;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
              0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.header {
  & .newTodo {
    @apply --input;
  }

  & .newTodo::-webkit-input-placeholder {
    @apply --placeholder;
  }

  & .newTodo::-moz-placeholder {
    @apply --placeholder;
  }

  & .newTodo::input-placeholder {
    @apply --placeholder;
  }

  & .toggleAll {
    position: absolute;
    top: 14px;
    left: -12px;
    width: 60px;
    height: 34px;
    text-align: center;
    border: none;
    cursor: pointer;
    z-index: 10;
  }

  & .toggleAll:before {
    content: '❯';
    color: var(--light-font-color);
    font-size: 22px;
  }

  & .toggleAll:checked:before {
    color: #737373;
  }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .toggleAll {
    background: none;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-appearance: none;
    appearance: none;
  }
}


/* Main */

.main {
  position: relative;
  border-top: 1px solid var(--light-font-color);

  & .todoList {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & .todoItem {
    position: relative;
    font-size: 24px;
    border-bottom: 1px solid #ededed;
  }

  & .todoItem:last-child {
    border-bottom: none;
  }

  & .todoItem.completed {
    & .toggle {
      content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
    }

    & .edit {
      text-decoration: line-through;
      color: #d9d9d9;
    }
  }

  & .toggle {
    display: flex;
    align-content: center;
    position: absolute;
    margin: 0 auto;
    margin-top: 13px;
    width: 40px;
    height: auto;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    border: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    z-index: 10;
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
  }

  & .destroy {
    display: none;
    position: absolute;
    width: 60px;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    right: 0;
    font-size: 30px;
    color: #cc9a9a;
    transition: color 0.2s ease-out;
    cursor: pointer;
    z-index: 10;
  }

  & .destroy:hover {
    color: #af5b5e;
  }

  & .destroy:after {
    content: '×';
  }

  & .todoItem:hover .destroy {
    display: block;
  }

  & .edit {
    @apply --input;
    transition: color 0.4s;
  }
}

.edit:active,
.edit:focus {
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}


/* Footer */

.footer::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  margin-top: 50px;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
              0 8px 0 -3px #f6f6f6,
              0 9px 1px -3px rgba(0, 0, 0, 0.2),
              0 16px 0 -6px #f6f6f6,
              0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #777;
  padding: 10px 15px;
  height: auto;
  text-align: center;
  border-top: 1px solid var(--light-font-color);

  & .counter {
    height: 20px;
  }

  & .filters {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    right: 0;
    left: 0;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  & .filterItem {
    text-transform: capitalize;
    cursor: pointer;
  }

  & .href {
    margin: 3px;
    padding: 3px 7px;
    border: 1px solid transparent;
    border-radius: 3px;
    text-decoration: none;
    color: inherit;
  }

  & .href:hover {
    border-color: rgba(175, 47, 47, 0.1);
  }

  & .href.selected {
    border-color: rgba(175, 47, 47, 0.2);
  }
}

.clearCompleted,
.clearCompleted:active {
  height: 20px;
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.clearCompleted:hover {
  text-decoration: underline;
}

@media (max-width: 430px) {
  .footer {
    height: 80px;
  }
  .filters {
    bottom: 10px;
  }
}
